@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  @apply antialiased bg-gray-50 text-gray-900;
}

/* Custom utility classes */
@layer utilities {
  .container-mobile {
    @apply max-w-md mx-auto px-4;
  }
}
